In [224]:
import pandas as pd
from sklearn.linear_model import LinearRegression

import numpy as np


# 命名规范
v_columns = ["V"+str(i) for i in range(1,18)]
TSU_columns = ["TSU"+str(i) for i in range(1,18)]
TSD_columns = ["TSD"+str(i) for i in range(1,18)]
TU_columns = ["TU"+str(i) for i in range(1,18)]
TD_columns = ["TD"+str(i) for i in range(1,18)]

data_path = './锂离子电池生产参数调控及生产温度预测挑战赛公开数据-初赛/'
traindata = pd.read_csv(data_path + 'train.csv')
testdata = pd.read_csv(data_path + 'test.csv')
submit = pd.read_csv('./提交示例.csv')
submit.head()
traindata=traindata.drop(1057)

In [225]:
traindata.columns = ["Num","Time"]\
+v_columns\
+TSU_columns\
+TSD_columns\
+TU_columns\
+TD_columns

testdata.columns = ["Num","Time"]\
+v_columns\
+TSU_columns\
+TSD_columns\

submit.columns = ["Num"]\
+TU_columns\
+TD_columns

# traindata.drop(["Num","Time"],axis=1,inplace=True)
# testdata.drop(["Num","Time"],axis=1,inplace=True)
traindata.head()

,Num,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,TD8,TD9,TD10,TD11,TD12,TD13,TD14,TD15,TD16,TD17
0,1,2022/11/6 9:08,35.668999,36.146000,25.558001,26.195000,25.670000,15.702,16.690001,15.991,...,827,827,827,827,827,827,827,827,827,750
1,2,2022/11/6 9:09,35.995998,36.347000,25.382000,26.348000,26.131001,15.523,16.825001,15.871,...,827,827,827,827,827,827,827,827,827,750
2,3,2022/11/6 9:11,35.340000,36.311001,25.469999,26.093000,25.639000,15.564,15.564000,15.947,...,827,827,827,827,827,827,827,827,827,750
3,4,2022/11/6 9:12,35.585999,36.091000,25.250000,26.127001,25.670000,15.575,16.775999,15.936,...,827,827,827,827,827,827,827,827,827,750
4,5,2022/11/6 9:13,35.946999,36.256001,25.163000,26.399000,25.837999,15.460,16.580999,15.795,...,827,827,827,827,827,827,827,827,827,750

In [226]:
label = ["TU"+str(i) for i in range(1,18)]\
+["TD"+str(i) for i in range(1,18)]

features = ["V"+str(i) for i in range(1,18)]\
+["TSU"+str(i) for i in range(1,18)]\
+["TSD"+str(i) for i in range(1,18)]
## 构造V 流量特征  VB
## V和VB1  V均值VB2
traindata["VB1"] = traindata[v_columns].apply(lambda x:x.sum(),axis=1)
traindata["VB2"] = traindata[v_columns].apply(lambda x:x.sum()/17,axis=1)
testdata["VB1"] = testdata[v_columns].apply(lambda x:x.sum(),axis=1)
testdata["VB2"] = testdata[v_columns].apply(lambda x:x.sum()/17,axis=1)

In [227]:
## V上面7个和  均值
traindata["VB3"] = traindata[v_columns[:7]].apply(lambda x:x.sum(),axis=1)
traindata["VB4"] = traindata[v_columns[:7]].apply(lambda x:x.sum()/7,axis=1)
testdata["VB3"] = testdata[v_columns[:7]].apply(lambda x:x.sum(),axis=1)
testdata["VB4"] = testdata[v_columns[:7]].apply(lambda x:x.sum()/7,axis=1)
## 利用时间 构造流量速率特征  对于我们只预测TU1-7那就再只做一下V1-7的流速
## 流速VS1-17 命名  注意这里还没有取绝对值  也就是说 这里的流速有正负值  同理17个流速都可以获得
## 这里直接做VS1-17的流速
traindata["Time1"] = pd.to_datetime(traindata["Time"]) - pd.to_datetime(traindata["Time"].shift(periods=1))
testdata["Time1"] = pd.to_datetime(testdata["Time"]) - pd.to_datetime(testdata["Time"].shift(periods=1))
# 筛选时差20分钟内  且不为0 的index
indexset = traindata[(traindata["Time1"] <= pd.Timedelta(days=0, minutes=20)) & (traindata["Time1"] != pd.Timedelta(days=0, minutes=0))].index

In [228]:
for i in range(1,18):
    traindata["VS"+str(i)] = np.nan
    traindata.loc[indexset,"VS"+str(i)] = (traindata.loc[indexset]["V"+str(i)] - traindata.loc[indexset]["V"+str(i)].shift(periods=1)) / traindata.loc[indexset]["Time1"].apply(lambda x:x.seconds//60)
    traindata.loc[indexset,"VS"+str(i)]
    # 后值填充  又做了个取绝对值
    traindata["VS"+str(i)] = traindata["VS"+str(i)].fillna(method="bfill").apply(lambda x:abs(x))
# 筛选时差20分钟内  且不为0 的index
indexset = testdata[(traindata["Time1"] <= pd.Timedelta(days=0, minutes=20)) & (testdata["Time1"] != pd.Timedelta(days=0, minutes=0))].index
for i in range(1,18):
    testdata["VS"+str(i)] = np.nan
    testdata.loc[indexset,"VS"+str(i)] = (testdata.loc[indexset]["V"+str(i)] - testdata.loc[indexset]["V"+str(i)].shift(periods=1)) / testdata.loc[indexset]["Time1"].apply(lambda x:x.seconds//60)
    testdata.loc[indexset,"VS"+str(i)]
    # 后值填充  又做了个取绝对值
    testdata["VS"+str(i)] = testdata["VS"+str(i)].fillna(method="bfill").apply(lambda x:abs(x))
## 加热棒设定温度和流量的比值
## TSUV  TSDV
for i in range(1,18):
    traindata["TSUV"+str(i)] = traindata["TSU"+str(i)] / traindata["V"+str(i)]
    traindata["TSDV"+str(i)] = traindata["TSD"+str(i)] / traindata["V"+str(i)]
    ## 加热棒设定温度和流量的比值
## TSUV  TSDV
for i in range(1,18):
    testdata["TSUV"+str(i)] = testdata["TSU"+str(i)] / testdata["V"+str(i)]
    testdata["TSDV"+str(i)] = testdata["TSD"+str(i)] / testdata["V"+str(i)]

##判断是否工作日  没有用
traindata["day"] = pd.to_datetime(traindata["Time"]).apply(lambda x:x.dayofweek)
testdata["day"] = pd.to_datetime(testdata["Time"]).apply(lambda x:x.dayofweek)

C:\Users\liuchen\AppData\Local\Temp\ipykernel_9044\2316982202.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indexset = testdata[(traindata["Time1"] <= pd.Timedelta(days=0, minutes=20)) & (testdata["Time1"] != pd.Timedelta(days=0, minutes=0))].index

In [165]:
traindata.head()

,Num,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,TSDV13,TSUV14,TSDV14,TSUV15,TSDV15,TSUV16,TSDV16,TSUV17,TSDV17,day
0,1,2022/11/6 9:08,35.668999,36.146000,25.558001,26.195000,25.670000,15.702,16.690001,15.991,...,55.927505,52.678513,52.678513,50.848500,50.848500,48.388042,48.388042,15.798121,15.798121,6
1,2,2022/11/6 9:09,35.995998,36.347000,25.382000,26.348000,26.131001,15.523,16.825001,15.871,...,55.965350,52.644982,52.644982,50.814133,50.814133,48.388042,48.388042,15.776853,15.776853,6
2,3,2022/11/6 9:11,35.340000,36.311001,25.469999,26.093000,25.639000,15.564,15.564000,15.947,...,55.855735,52.644982,52.644982,50.848500,50.848500,48.388042,48.388042,15.798121,15.798121,6
3,4,2022/11/6 9:12,35.585999,36.091000,25.250000,26.127001,25.670000,15.575,16.775999,15.936,...,55.927505,52.644982,52.644982,50.848500,50.848500,48.524323,48.524323,15.855567,15.855567,6
4,5,2022/11/6 9:13,35.946999,36.256001,25.163000,26.399000,25.837999,15.460,16.580999,15.795,...,55.784149,52.644982,52.644982,50.951879,50.951879,48.182243,48.182243,15.769554,15.769554,6

In [229]:
testdata.head()

,Num,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,TSDV13,TSUV14,TSDV14,TSUV15,TSDV15,TSUV16,TSDV16,TSUV17,TSDV17,day
0,1,2023/3/1 4:15,24.222000,24.070000,28.889000,25.264999,26.827999,4.354,21.784,24.323000,...,62.687237,61.926606,61.926606,46.518090,46.518090,50.500786,50.500786,18.688329,18.688329,2
1,2,2023/3/1 4:20,24.138000,23.974001,28.798000,25.517000,27.108999,4.377,21.886,24.384001,...,63.155511,62.701326,62.701326,47.115116,47.115116,50.607656,50.607656,18.727059,18.727059,2
2,3,2023/3/1 4:26,24.152000,24.006001,28.827999,25.114000,26.719999,4.293,21.611,24.099001,...,62.842555,62.392844,62.392844,46.798993,46.798993,46.798993,46.798993,18.704641,18.704641,2
3,4,2023/3/1 4:31,24.108999,23.974001,28.783001,25.114000,27.047001,4.354,21.857,24.337999,...,63.050849,62.649702,62.649702,47.186828,47.186828,50.467293,50.467293,18.712574,18.712574,2
4,5,2023/3/1 4:36,24.350000,24.215000,29.146999,25.416000,25.416000,4.377,21.900,24.444000,...,60.560017,61.926606,61.926606,46.658121,46.658121,50.225020,50.225020,18.594734,18.594734,2

In [208]:
print(traindata.drop(['Time1', 'Time','TU1', 'TU2', 'TU3', 'TU4', 'TU5', 'TU6', 'TU7', 'TU8', 'TU9', 'TU10', 'TU11', 'TU12', 'TU13', 'TU14', 'TU15', 'TU16', 'TU17', 'TD1', 'TD2', 'TD3', 'TD4', 'TD5', 'TD6', 'TD7', 'TD8', 'TD9', 'TD10', 'TD11', 'TD12', 'TD13', 'TD14', 'TD15', 'TD16', 'TD17'], axis=1))
newtraindata=pd.DataFrame(traindata.drop(['Time1', 'Time','TU1', 'TU2', 'TU3', 'TU4', 'TU5', 'TU6', 'TU7', 'TU8', 'TU9', 'TU10', 'TU11', 'TU12', 'TU13', 'TU14', 'TU15', 'TU16', 'TU17', 'TD1', 'TD2', 'TD3', 'TD4', 'TD5', 'TD6', 'TD7', 'TD8', 'TD9', 'TD10', 'TD11', 'TD12', 'TD13', 'TD14', 'TD15', 'TD16', 'TD17'], axis=1)),

         Num         V1         V2         V3         V4         V5      V6  \
0          1  35.668999  36.146000  25.558001  26.195000  25.670000  15.702
1          2  35.995998  36.347000  25.382000  26.348000  26.131001  15.523
2          3  35.340000  36.311001  25.469999  26.093000  25.639000  15.564
3          4  35.585999  36.091000  25.250000  26.127001  25.670000  15.575
4          5  35.946999  36.256001  25.163000  26.399000  25.837999  15.460
...      ...        ...        ...        ...        ...        ...     ...
26651  26652  24.594000  24.377001  29.191999  25.551001  27.016001   4.377
26652  26653  24.379000  24.424999  29.253000  25.652000  27.188000   4.415
26653  26654  24.407000  24.312000  29.010000  25.382000  26.813000   4.354
26654  26655  24.636000  24.409000  29.162001  25.551001  27.032000   4.362
26655  26656  24.236000  24.054001  28.874001  25.282000  27.125000   4.384

              V7      V8         V9  ...     TSDV13     TSUV14     TSDV14  \
0      16.690001  15.991  12.803000  ...  55.927505  52.678513  52.678513
1      16.825001  15.871  12.886000  ...  55.965350  52.644982  52.644982
2      15.564000  15.947  12.855000  ...  55.855735  52.644982  52.644982
3      16.775999  15.936  12.721000  ...  55.927505  52.644982  52.644982
4      16.580999  15.795  12.752000  ...  55.784149  52.644982  52.644982
...          ...     ...        ...  ...        ...        ...        ...
26651  21.929001  24.459  16.886999  ...  62.425418  61.775778  61.775778
26652  22.017000  24.534  16.909000  ...  62.842555  62.078173  62.078173
26653  21.726000  24.204  16.677999  ...  63.365889  62.753035  62.753035
26654  21.813000  21.813  16.698999  ...  63.313161  62.701326  62.701326
26655  21.944000  24.444  16.775999  ...  61.036971  62.598159  62.598159

          TSUV15     TSDV15     TSUV16     TSDV16     TSUV17     TSDV17  day
0      50.848500  50.848500  48.388042  48.388042  15.798121  15.798121    6
1      50.814133  50.814133  48.388042  48.388042  15.776853  15.776853    6
2      50.848500  50.848500  48.388042  48.388042  15.798121  15.798121    6
3      50.848500  50.848500  48.524323  48.524323  15.855567  15.855567    6
4      50.951879  50.951879  48.182243  48.182243  15.769554  15.769554    6
...          ...        ...        ...        ...        ...        ...  ...
26651  46.484504  46.484504  49.913534  49.913534  18.494315  18.494315    2
26652  46.906524  46.906524  50.294435  50.294435  18.671580  18.671580    2
26653  47.115116  47.115116  50.364043  50.364043  18.637244  18.637244    2
26654  47.186828  47.186828  49.806604  49.806604  18.486111  18.486111    2
26655  47.186828  47.186828  50.500786  50.500786  18.763134  18.763134    2

[26655 rows x 108 columns]

In [230]:
traindata.describe()

,Num,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,TSDV13,TSUV14,TSDV14,TSUV15,TSDV15,TSUV16,TSDV16,TSUV17,TSDV17,day
count,26655.000000,26655.000000,26655.000000,26655.000000,26655.000000,26655.000000,26655.000000,26655.000000,26655.000000,26655.000000,...,2.665500e+04,2.665500e+04,2.665500e+04,2.665500e+04,2.665500e+04,2.665500e+04,2.665500e+04,2.665500e+04,2.665500e+04,26655.000000
mean,13328.960345,30.789562,31.157173,31.659747,27.460252,28.550322,21.149409,22.295913,20.676681,16.790176,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,2.707522
std,7694.846013,8.749312,9.553826,9.724191,7.151774,7.497044,7.820661,8.153858,8.213531,8.668334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.051595
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.129142e+01,6.991214e+00,6.991214e+00,5.869922e+00,5.869922e+00,5.978001e+00,5.978001e+00,3.940628e+00,3.940628e+00,0.000000
25%,6665.500000,25.069000,24.684000,24.226999,22.270500,24.791000,17.239000,16.497000,15.459000,13.308000,...,5.059831e+01,4.560709e+01,4.560709e+01,4.478660e+01,4.475115e+01,4.069578e+01,4.069056e+01,1.504363e+01,1.503892e+01,1.000000
50%,13329.000000,32.555000,34.664001,32.250999,27.118000,28.461000,18.563000,19.464001,17.301001,14.576000,...,5.440158e+01,4.983940e+01,4.983940e+01,4.738664e+01,4.738664e+01,4.508687e+01,4.508687e+01,1.592071e+01,1.591985e+01,2.000000
75%,19992.500000,35.562000,38.547001,39.324001,31.002001,32.597000,25.341999,26.809999,22.729000,16.143000,...,5.824083e+01,5.335650e+01,5.335650e+01,5.222705e+01,5.222705e+01,5.302082e+01,5.302082e+01,2.547041e+01,2.547041e+01,5.000000
max,26656.000000,79.261002,79.261002,70.323998,65.071999,70.435997,62.578999,66.445999,68.351997,69.949997,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,6.000000

In [221]:
import lightgbm as lgb
for col in ['TU1', 'TU2', 'TU3', 'TU4', 'TU5', 'TU6', 'TU7', 'TD1', 'TD2', 'TD5']:
    # 创建LightGBM回归模型并进行拟合
    model = lgb.LGBMRegressor()
    model.fit(traindata.drop(['Time1', 'Time','TU1', 'TU2', 'TU3', 'TU4', 'TU5', 'TU6', 'TU7', 'TU8', 'TU9', 'TU10', 'TU11', 'TU12', 'TU13', 'TU14', 'TU15', 'TU16', 'TU17', 'TD1', 'TD2', 'TD3', 'TD4', 'TD5', 'TD6', 'TD7', 'TD8', 'TD9', 'TD10', 'TD11', 'TD12', 'TD13', 'TD14', 'TD15', 'TD16', 'TD17'], axis=1), traindata[col])
    
    # 预测测试数据的值
    submit[col] = model.predict(testdata.drop(['Time','Time1'], axis=1))

In [121]:
submit.to_csv('lgbpr.csv', index=None)

,Num,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,TSDV13,TSUV14,TSDV14,TSUV15,TSDV15,TSUV16,TSDV16,TSUV17,TSDV17,day
count,26656.000000,26656.000000,26656.000000,26656.000000,26656.000000,26656.000000,26656.000000,26656.000000,26656.000000,26656.000000,...,26625.000000,26626.000000,26626.000000,26625.000000,26625.000000,26625.000000,26625.000000,26627.000000,26627.000000,26656.000000
mean,13328.500000,30.789741,31.157351,31.659505,27.460194,28.550216,21.149207,22.295702,20.676501,16.790021,...,52.697651,48.081586,48.077858,46.496190,46.481424,44.946858,44.931981,20.055976,20.026475,2.707420
std,7695.068724,8.749196,9.553690,9.724089,7.151646,7.496923,7.820584,8.153778,8.213429,8.668208,...,13.459282,38.274325,38.276656,32.296020,32.306262,33.001154,33.014168,22.292504,22.298522,2.051624
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.291415,6.991214,6.991214,5.869922,5.869922,5.978001,5.978001,3.940628,3.940628,0.000000
25%,6664.750000,25.069000,24.684000,24.226999,22.273750,24.791000,17.239000,16.497000,15.459000,13.308000,...,50.598142,45.607086,45.607086,44.772119,44.750338,40.681037,40.677804,15.042401,15.037594,1.000000
50%,13328.500000,32.563499,34.664001,32.250999,27.118000,28.461000,18.563000,19.464001,17.301001,14.576000,...,54.389189,49.839400,49.830192,47.386640,47.386640,45.086872,45.086872,15.919849,15.919849,2.000000
75%,19992.250000,35.558001,38.547001,39.324001,31.002001,32.597000,25.341999,26.809999,22.729000,16.143000,...,58.223438,53.328896,53.323321,52.212441,52.212441,52.977547,52.970408,25.455818,25.455818,5.000000
max,26656.000000,79.261002,79.261002,70.323998,65.071999,70.435997,62.578999,66.445999,68.351997,69.949997,...,728.470995,5838.509389,5838.509389,4897.142941,4897.142941,4866.278900,4866.278900,3099.173567,3099.173567,6.000000

In [122]:
df2 = pd.read_csv("lgbpr.csv")
df1 =pd.read_csv('submit.csv')
columns_to_replace=['上部温度1','上部温度2','上部温度3','上部温度4','上部温度5','上部温度6','上部温度7','下部温度1','下部温度2','下部温度5']
target_columns =['TU1','TU2','TU3','TU4','TU5','TU6','TU7','TD1','TD2','TD5']
df1[columns_to_replace] = df2[target_columns]
df1.to_csv("output.csv", index=False)

,Num,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,TSDV13,TSUV14,TSDV14,TSUV15,TSDV15,TSUV16,TSDV16,TSUV17,TSDV17,day
0,1,2022/11/6 9:08,35.668999,36.146000,25.558001,26.195000,25.670000,15.702,16.690001,15.991,...,55.927505,52.678513,52.678513,50.848500,50.848500,48.388042,48.388042,15.798121,15.798121,6
1,2,2022/11/6 9:09,35.995998,36.347000,25.382000,26.348000,26.131001,15.523,16.825001,15.871,...,55.965350,52.644982,52.644982,50.814133,50.814133,48.388042,48.388042,15.776853,15.776853,6
2,3,2022/11/6 9:11,35.340000,36.311001,25.469999,26.093000,25.639000,15.564,15.564000,15.947,...,55.855735,52.644982,52.644982,50.848500,50.848500,48.388042,48.388042,15.798121,15.798121,6
3,4,2022/11/6 9:12,35.585999,36.091000,25.250000,26.127001,25.670000,15.575,16.775999,15.936,...,55.927505,52.644982,52.644982,50.848500,50.848500,48.524323,48.524323,15.855567,15.855567,6
4,5,2022/11/6 9:13,35.946999,36.256001,25.163000,26.399000,25.837999,15.460,16.580999,15.795,...,55.784149,52.644982,52.644982,50.951879,50.951879,48.182243,48.182243,15.769554,15.769554,6

In [123]:
print(traindata['Time1'])

0                   NaT
1       0 days 00:01:00
2       0 days 00:02:00
3       0 days 00:01:00
4       0 days 00:01:00
              ...
26651   0 days 00:05:00
26652   0 days 00:05:00
26653   0 days 00:06:00
26654   0 days 00:05:00
26655   0 days 00:05:00
Name: Time1, Length: 26656, dtype: timedelta64[ns]

In [172]:
print(traindata.drop(['Time1', 'Time','TU1', 'TU2', 'TU3', 'TU4', 'TU5', 'TU6', 'TU7', 'TU8', 'TU9', 'TU10', 'TU11', 'TU12', 'TU13', 'TU14', 'TU15', 'TU16', 'TU17', 'TD1', 'TD2', 'TD3', 'TD4', 'TD5', 'TD6', 'TD7', 'TD8', 'TD9', 'TD10', 'TD11', 'TD12', 'TD13', 'TD14', 'TD15', 'TD16', 'TD17'], axis=1),)

         Num         V1         V2         V3         V4         V5      V6  \
0          1  35.668999  36.146000  25.558001  26.195000  25.670000  15.702
1          2  35.995998  36.347000  25.382000  26.348000  26.131001  15.523
2          3  35.340000  36.311001  25.469999  26.093000  25.639000  15.564
3          4  35.585999  36.091000  25.250000  26.127001  25.670000  15.575
4          5  35.946999  36.256001  25.163000  26.399000  25.837999  15.460
...      ...        ...        ...        ...        ...        ...     ...
26651  26652  24.594000  24.377001  29.191999  25.551001  27.016001   4.377
26652  26653  24.379000  24.424999  29.253000  25.652000  27.188000   4.415
26653  26654  24.407000  24.312000  29.010000  25.382000  26.813000   4.354
26654  26655  24.636000  24.409000  29.162001  25.551001  27.032000   4.362
26655  26656  24.236000  24.054001  28.874001  25.282000  27.125000   4.384

              V7      V8         V9  ...     TSDV13     TSUV14     TSDV14  \
0      16.690001  15.991  12.803000  ...  55.927505  52.678513  52.678513
1      16.825001  15.871  12.886000  ...  55.965350  52.644982  52.644982
2      15.564000  15.947  12.855000  ...  55.855735  52.644982  52.644982
3      16.775999  15.936  12.721000  ...  55.927505  52.644982  52.644982
4      16.580999  15.795  12.752000  ...  55.784149  52.644982  52.644982
...          ...     ...        ...  ...        ...        ...        ...
26651  21.929001  24.459  16.886999  ...  62.425418  61.775778  61.775778
26652  22.017000  24.534  16.909000  ...  62.842555  62.078173  62.078173
26653  21.726000  24.204  16.677999  ...  63.365889  62.753035  62.753035
26654  21.813000  21.813  16.698999  ...  63.313161  62.701326  62.701326
26655  21.944000  24.444  16.775999  ...  61.036971  62.598159  62.598159

          TSUV15     TSDV15     TSUV16     TSDV16     TSUV17     TSDV17  day
0      50.848500  50.848500  48.388042  48.388042  15.798121  15.798121    6
1      50.814133  50.814133  48.388042  48.388042  15.776853  15.776853    6
2      50.848500  50.848500  48.388042  48.388042  15.798121  15.798121    6
3      50.848500  50.848500  48.524323  48.524323  15.855567  15.855567    6
4      50.951879  50.951879  48.182243  48.182243  15.769554  15.769554    6
...          ...        ...        ...        ...        ...        ...  ...
26651  46.484504  46.484504  49.913534  49.913534  18.494315  18.494315    2
26652  46.906524  46.906524  50.294435  50.294435  18.671580  18.671580    2
26653  47.115116  47.115116  50.364043  50.364043  18.637244  18.637244    2
26654  47.186828  47.186828  49.806604  49.806604  18.486111  18.486111    2
26655  47.186828  47.186828  50.500786  50.500786  18.763134  18.763134    2

[26655 rows x 108 columns]

In [173]:
testdata.drop(['Time','Time1'],axis=1)

,Num,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,TSDV13,TSUV14,TSDV14,TSUV15,TSDV15,TSUV16,TSDV16,TSUV17,TSDV17,day
0,1,24.222000,24.070000,28.889000,25.264999,26.827999,4.354000,21.784000,24.323000,16.721001,...,62.687237,61.926606,61.926606,46.518090,46.518090,50.500786,50.500786,18.688329,18.688329,2
1,2,24.138000,23.974001,28.798000,25.517000,27.108999,4.377000,21.886000,24.384001,16.709999,...,63.155511,62.701326,62.701326,47.115116,47.115116,50.607656,50.607656,18.727059,18.727059,2
2,3,24.152000,24.006001,28.827999,25.114000,26.719999,4.293000,21.611000,24.099001,16.591999,...,62.842555,62.392844,62.392844,46.798993,46.798993,46.798993,46.798993,18.704641,18.704641,2
3,4,24.108999,23.974001,28.783001,25.114000,27.047001,4.354000,21.857000,24.337999,16.677999,...,63.050849,62.649702,62.649702,47.186828,47.186828,50.467293,50.467293,18.712574,18.712574,2
4,5,24.350000,24.215000,29.146999,25.416000,25.416000,4.377000,21.900000,24.444000,16.775999,...,60.560017,61.926606,61.926606,46.658121,46.658121,50.225020,50.225020,18.594734,18.594734,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11419,11420,20.496000,26.597000,25.483999,28.426001,29.061001,24.259001,26.860001,16.997999,19.046000,...,92.416225,52.568219,52.568219,53.244817,53.244817,45.539780,45.539780,13.687050,13.687050,2
11420,11421,20.098000,26.614000,25.926001,28.409000,28.667000,24.290001,26.709000,16.862000,18.972000,...,92.307689,52.568219,52.568219,53.144016,53.144016,45.738886,45.738886,13.727667,13.727667,2
11421,11422,20.052999,26.580000,25.646000,28.202000,29.077000,24.181999,26.525000,16.886000,19.268000,...,92.644977,92.644977,92.644977,53.075832,53.075832,45.711211,45.711211,13.788348,13.788348,2
11422,11423,20.267000,26.410999,25.896999,28.546000,28.587999,24.430000,26.542000,16.934999,19.075001,...,93.205269,52.568219,52.568219,53.176375,53.176375,45.597800,45.597800,13.700562,13.700562,2
11423,11424,20.323000,26.294001,25.778999,28.289000,28.289000,24.243999,26.691999,16.825001,19.208000,...,93.094873,52.501504,52.501504,53.075832,53.075832,45.567244,45.567244,13.841958,13.841958,2

In [174]:
newtraindata

(         Num         V1         V2         V3         V4         V5      V6  \
 0          1  35.668999  36.146000  25.558001  26.195000  25.670000  15.702
 1          2  35.995998  36.347000  25.382000  26.348000  26.131001  15.523
 2          3  35.340000  36.311001  25.469999  26.093000  25.639000  15.564
 3          4  35.585999  36.091000  25.250000  26.127001  25.670000  15.575
 4          5  35.946999  36.256001  25.163000  26.399000  25.837999  15.460
 ...      ...        ...        ...        ...        ...        ...     ...
 26651  26652  24.594000  24.377001  29.191999  25.551001  27.016001   4.377
 26652  26653  24.379000  24.424999  29.253000  25.652000  27.188000   4.415
 26653  26654  24.407000  24.312000  29.010000  25.382000  26.813000   4.354
 26654  26655  24.636000  24.409000  29.162001  25.551001  27.032000   4.362
 26655  26656  24.236000  24.054001  28.874001  25.282000  27.125000   4.384

               V7      V8         V9  ...     TSDV13     TSUV14     TSDV14  \
 0      16.690001  15.991  12.803000  ...  55.927505  52.678513  52.678513
 1      16.825001  15.871  12.886000  ...  55.965350  52.644982  52.644982
 2      15.564000  15.947  12.855000  ...  55.855735  52.644982  52.644982
 3      16.775999  15.936  12.721000  ...  55.927505  52.644982  52.644982
 4      16.580999  15.795  12.752000  ...  55.784149  52.644982  52.644982
 ...          ...     ...        ...  ...        ...        ...        ...
 26651  21.929001  24.459  16.886999  ...  62.425418  61.775778  61.775778
 26652  22.017000  24.534  16.909000  ...  62.842555  62.078173  62.078173
 26653  21.726000  24.204  16.677999  ...  63.365889  62.753035  62.753035
 26654  21.813000  21.813  16.698999  ...  63.313161  62.701326  62.701326
 26655  21.944000  24.444  16.775999  ...  61.036971  62.598159  62.598159

           TSUV15     TSDV15     TSUV16     TSDV16     TSUV17     TSDV17  day
 0      50.848500  50.848500  48.388042  48.388042  15.798121  15.798121    6
 1      50.814133  50.814133  48.388042  48.388042  15.776853  15.776853    6
 2      50.848500  50.848500  48.388042  48.388042  15.798121  15.798121    6
 3      50.848500  50.848500  48.524323  48.524323  15.855567  15.855567    6
 4      50.951879  50.951879  48.182243  48.182243  15.769554  15.769554    6
 ...          ...        ...        ...        ...        ...        ...  ...
 26651  46.484504  46.484504  49.913534  49.913534  18.494315  18.494315    2
 26652  46.906524  46.906524  50.294435  50.294435  18.671580  18.671580    2
 26653  47.115116  47.115116  50.364043  50.364043  18.637244  18.637244    2
 26654  47.186828  47.186828  49.806604  49.806604  18.486111  18.486111    2
 26655  47.186828  47.186828  50.500786  50.500786  18.763134  18.763134    2

 [26655 rows x 108 columns],)

In [212]:
column_index = traindata.columns.get_loc('TU1')
print(column_index)

53

In [220]:
import sys

print(sys.executable)

D:\anaconda\python.exe